*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
}

.AppNavbar {
  position: fixed;
  margin: 0 auto;
  padding: 0;
}

.img1 {
  max-width: 5%;
  display: block;
}

.fa {
  padding: 0px;
  margin-right: 15px;
  font-size: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-home {
  background: rgb(36, 35, 35);
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
}

html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: #4a525c;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.scroll-img {
  display: block;
  align-items: center;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 100px;
  border-radius: 0%;
  max-width: 50%;
  height: 40%;
}

.s-img {
  padding: 10px;
}

.details {
  text-align: center;
  background: rgba(113, 146, 219, 0.933);
}
.title {
  font-weight: 900;
  color: darkslategrey;
}

.navbar-default {
  margin: 0 !important;
}

.head {
  text-align: center;
  height: 300px;
  padding-top: 70px;
  width: 100%;
  max-width: 75em;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #d3d3d3;
}
.inner-heading {
  margin: 0px;
  text-align: center;
}
.inner-submit {
  margin-left: 47%;
}
.booking {
  padding: 15px;
}
.listview {
  align-items: center;
  padding: 70px;
  text-align: center;
}
.booked {
  margin-top: 0;
}

@media (max-width: 650px) {
  .head {
    padding-top: 85px;
  }
  .inner-submit {
    margin-left: 41%;
  }
}
